@application.auth.domain@=topcoder-dev.com

@application.database.user@=coder
@application.database.password@=1nf0rm1x
@application.database.host@=10.15.94.50
@application.database.port@=2020

@authorization.database.schema@=Authorization
@authorization.database.user@=coder
@authorization.database.password@=Qn8TZxFFD77tzQwc
@authorization.database.host@=localhost
@authorization.database.port@=3306

@ldap.host@=ldap.topcoder.com
@ldap.port@=389
@ldap.password@=pass

@redis.host@=localhost
@redis.port@=6379

@smtp.host@=localhost
@smtp.port@=25

@mail.template.apiUrlBase@=http://localhost:8080

@auth0.clientId@=JFDo7HMkf0q2CkVFHojy3zHWafziprhT
@auth0.clientSecret@=
@auth0.domain@=topcoder-dev.auth0.com

@serviceAccount01.clientId@=abcdefghijklmn
@serviceAccount01.secret@=ABCDEFGHIJKLMN
@serviceAccount01.userId@=22838965

@application.password.default@=appirio123
@application.password.key@=abcdefg
