<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Core Side Tests" verbose="5">
    <test name="API Tests">
    <classes>
<!--      <class name="com.appirio.api.core.tests.AuthenticationTest"/> -->
    <class name="com.appirio.api.core.tests.UserTest"/>
    </classes>
<!--     <package name="com.appirio.api.core.tests"></package> -->
<!--     </packages>   -->
  </test>  
</suite>